.nav-wrapper {
  width: 1400px;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
}

.nav-link {
  color: black;
  transition: ease 300ms;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-logout:hover {
  color: crimson;
}
