.sign-up-ctn {
    width: 450px;
    height: fit-content;
    
    padding: 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    margin: 2rem auto;
    background-color: white;
}