.form-footer-wrapper {
  width: 100%;
  height: fit-content;

  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.form-footer-wrapper p {
  color: #aaa;
}

.sign-in {
  color: cornflowerblue !important;
  font-weight: 600;

  cursor: pointer;
}
