.not-found-wrapper {
  width: 100%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-title {
  background-image: url(../../assets/images/background.jpg);
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 900px;
}
